.not-found-container {
    text-align: center;
    padding: 50px;
    color: #333;
  }
  
  .not-found-container h1 {
    font-size: 3rem;
    color: #ff0000;
  }
  
  .not-found-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .not-found-container .link {
    color: white !important;
    padding: 1rem;
    font-size: 20px;
    background-color: #DB4444;
    text-decoration: underline;
  }