.home-container {
 margin-top: 100px;
  padding: 1rem;
  


  .filter {
    margin-bottom: 2rem;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }
  .title-container{
    margin-top: 100px;
    .day{
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: brown;
      text-align: left;
    }
    .title-date{
      display: flex;
      gap: 20px;
   
    }
  }
  .main-content {
    margin-top: 50px;
   .categories-container{
    h1{
      text-align: left;
    }
    .categories {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      .active{
        background-color: brown;
        color: white;
      }
     
    }
      
   .categories .category {
    width: 205px;
    height: 68px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border: 2px  solid rgb(199, 193, 193);
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
   } 
    
  
  }
  
  .home-top{
    display: flex;
    gap: 1.5rem;
    height: 400px;
    .heading-image{
      flex: 1;
      height: inherit;
    }
  }
  .category {
    max-width: 200px;
    flex: 1;
    padding-right: 1rem;
    border: 1px solid #e2e6e7; // Sky blue

    .category-filter {
      .filter-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .category-item {
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 5px;
        text-align: left;

        &.active {
          background: #007bff;
          color: white;
        }

        &:hover {
          background: #e0e0e0;
        }
      }
    }
  }

  .products-section {
    flex: 3;
  h1{
    text-align: left;
  }
    .sort-options {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      .sort-title {
        margin-right: 10px;
        font-weight: bold;
      }

      .sort-dropdown {
        border: 1px solid #ccc;
        padding: 8px;
        border-radius: 4px;
      }
    }
  }
  .see-all-btn {
    background-color: hsl(22, 91%, 60%); // Blue-500
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  
    
  }
  
}
